* {
	box-sizing: border-box;
}


body {
	margin: 0;
	min-height: 100vh;
	display: flex;
	flex-direction: column;
}

header{
    justify-content: space-between;
    background-color: burlywood;
}

.main-nav a {
	/* Style for "Journal" */
	display: flex;
	justify-content: center;
	align-items: center;
	width: 50px;
	height: 50px;
}

.logo{
    width: 10px;
    height: 10px;
}
.gallery {
    display: grid;
    grid-template-columns: repeat(auto-fill, 200px);
    grid-template-rows: repeat(auto-fill, 200px);
    gap: 5px;
    padding: 5px;
}
.gallery-img {
    width: 200px;
    height: 200px;
}

.gallery-img img {
    width: 100%;
}
#my-canvas {
    margin: 0 auto;
    border: 2px solid black;
    display: block;
}






/* HELPERS */

/* flex helpers */

.flex {
	display: flex;
}

.space-between {
	justify-content: space-between;
}

.align-center {
	align-items: center;
}
.center{
    justify-content: center;
}
/* list helpers */

.clean-list {
	list-style-type: none;
	margin: 0;
	padding: 0;
}
.no-display {
    display: none;
}